/* meida query */
/* 1 key word
    - not : loại trừ
    - only : chỉ 1 
    - and : và
    - or  : hoặc 

    2 mediatypes 
    print : in
    screen: màn hình
    speech:
    all-default: ứng dụng lên cả 3 đối tượng trên ; 

    3 media features:
    - min-width
    - max-width
    @media not| only mediatype and (mediafeature and|or|not mediafeature)
    {
        css code
    }

    vd @media screen and (max-width: 1024px and min-width: 768px)
    {
        css code
    }

    breakpoints là những điểm/ vị trí mà bố cục website sẽ thay đổi -thích ứng để tạo nên giao diện responsive
    
    smartphone 
    @media only screen and (max-width: 739px){...} 46.1875em

    ipad
    @media only screen and (min-width: 740px )  and (max-device-width: 1023px){...}
    46.25em and 63.9375em
    desktop and laptop
    @media only screen and (min-width: 1024px) 64em

    */ 